/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
  }
  
  header h1 {
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el contenido principal */
  main {
    background-color: #f9f9f9;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    max-width: 33.33%;
    padding: 20px;
    list-style: none;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
/*   h3 {
  
     */


/* Continuación de los estilos para el contenido principal */

p {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  

  /* Carrusel */

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide img {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  
  